*,
*:before,
*:after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    overflow-x: hidden;
    font-weight: 300;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

input,
button,
textarea,
select {
    font-size: 1.4rem;
    font-weight: 300;
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    -webkit-appearance: none;
}

button {
    cursor: pointer;
}

.recent-item {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
}
.recent-image {
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    flex-shrink: 0;
    object-fit: cover;
}
.recent-info {
    margin-left: 1.5rem;
}
.recent-author,
.recent-change {
    display: block;
    margin-bottom: 1rem;
    color: #333;
    font-weight: 600;
}
.recent-position,
.recent-time {
    font-size: 1.2rem;
    color: #999;
}
.recent-meta {
    margin-left: auto;
}